<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="google" content="notranslate" />
  <title>Simple To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
